<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <%- include("../partials/cabecalho.ejs") %>
</head>
<body>
    <div class = "container">
    Código de barras: <%= codBarras %> </br>
    Tipo: <%= tipo %> </br>
    Preço: <%= preco %> </br>
   
    <div>
        <a href="/">Voltar</a>
    </div>
    <%- include("../partials/rodape.ejs") %>
</div>
</body>
 
</html>