<!-- listarUsuario.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de usuários</title>
    <%- include("../partials/cabecalho.ejs") %>
</head>
<body>
   <div class ="container">
   <h1>Lista de usuários</h1>
   <% if(salvo==1){ %>
    <div style="color : red">
        Usuário cadastrado com sucesso!
    </div>

<% } %>
<% if(salvo==3){ %>
    <div style="color : green">
        Usuário atualizado com sucesso!
    </div>

<% } %>
<% if(removido != undefined){ %>
    <div style="color : red">
        Usuário removido com sucesso!
    </div>
    
<% } %>


<a href = "/usuarios/cadastrar" class = "btn btn-success">Cadastrar</a>
    <% for (let i=0; i<lista.length; i++) {  %>

         <div> <b>Nome: </b><%= lista[i].nome %> </div>
         <div><b>E-mail: </b><%=lista[i].email %> </div>
          <div>
        <a href="/usuarios/<%= lista[i].email %>" class="btn btn-secondary">Detalhes</a>
        <a href="/usuarios/remover/<%= lista[i].email%>" class="btn btn-danger" onclick= "return confirm('Deseja realmente remover?')">Remover</a>
        <a href = "/usuarios/cadastrar/<%= lista[i].email%>" class = "btn btn-warning">Atualizar</a>
    </div>
         <hr>

   <% } %>
    <div>
        <a href="/">Voltar</a>
    </div>
    <%- include("../partials/rodape.ejs") %>
</div>
</body>
</html>